<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessArbiter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <ProcessArbiter.Properties.Settings>
        <setting name="RelaxTimeIntervalMilliseconds" serializeAs="String">
          <value>4000</value>
        </setting>
        <setting name="GovernorTimeIntervalMilliseconds" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="WmiWatcherIntervalMilliseconds" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="RelaxProcessorPercent" serializeAs="String">
          <value>8</value>
        </setting>
        <setting name="GovernorProcessorPercent" serializeAs="String">
          <value>30</value>
        </setting>
        <setting name="CleanupTimeInterval" serializeAs="String">
          <value>16473</value>
        </setting>
        <setting name="IgnoreProcessList" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>system idle process</string>
              <string>system</string>
              <string>wininit</string>
              <string>processarbiterservice</string>
              <string>taskmgr</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="IncludeProcessList" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
          </value>
        </setting>
      </ProcessArbiter.Properties.Settings>
    </applicationSettings>
</configuration>